@import url('https://fonts.googleapis.com/css?family=Comfortaa:wght@500&display=swap');

:root {
    /* common */
    --bg: linear-gradient(to left, #363434, #000000);

    --msger-top: 50%;
    --msger-left: 50%;
    --msger-height: 680px;
    --msger-width: 420px;

    /* video iframe */
    --iframe-width: 640px;
    --iframe-height: 480px;

    /* whiteboard resize */
    --wb-width: 800px;
    --wb-height: 600px;
    --wb-bg: linear-gradient(to left, #1f1e1e, #000000);

    /* my settings */
    --mySettings-select-w: 100%;

    /* btns hover scale 110% zoom */
    --btns-hover-scale: scale(1.1);

    /* video elem border color */
    --elem-border-color: grey 1px solid;

    /* left buttons bar vertical default */
    --btns-top: 50%;
    --btns-right: 0%;
    --btns-left: 20px;
    --btns-margin-left: 0px;
    --btns-width: 40px;
    --btns-flex-direction: column;


    /* neon theme default */
    --msger-bg: linear-gradient(to left, #383838, #000000);
    --msger-private-bg: black;
    --left-msg-bg: #da05f3;
    --private-msg-bg: #f77070;
    --right-msg-bg: #579ffb;
    --box-shadow: 3px 3px 6px #0500ff, -3px -3px 6px #da05f3;
    --btn-bg: white;
    --btn-color: black;
    --btn-opc: 1;
    --wb-bg: linear-gradient(to left, #1f1e1e, #000000);
    --wb-hbg: #000000;
    --my-settings-label-color: white;
    --hover-color: grey; /*rgb(8, 189, 89);*/


    --video-object-fit: cover;
}

* {
    outline: none;
    font-family: 'Comfortaa';
}

/*--------------------------------------------------------------
# Body setup
--------------------------------------------------------------*/

body {
    background: var(--body-bg);
    background-image: url('../images/about.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
    overflow: hidden;
}

/*--------------------------------------------------------------
# Loading...
--------------------------------------------------------------*/

#loadingDiv {
    position: relative;
    color: white;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#loadingDiv h1 {
    font-size: 70px;
}
#loadingDiv pre {
    font-size: 15px;
}

/*--------------------------------------------------------------
# Pulse class effect
--------------------------------------------------------------*/

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
.statusMenu {
    z-index: 7;
    display: none;
    position: absolute;
    padding: 10px;
    background: var(--bg);
    font-size: small; /* 4 mobile */
    font-weight: bold;
    text-align: center;
    width: 100%;
    cursor: default;
    /* center */
    top: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    /* fadeIn effect */
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    overflow: hidden;
}
.statusMenu i,
.statusMenu p,
.statusMenu h4 {
    color: white;
    display: inline;
    border: none;
    margin-right: 10px;
}
.statusMenu button {
    float: right;
    margin-right: 3px;
    color: white;
    background: transparent;
    display: inline;
    border: none;
}
.statusMenu p:hover,
.statusMenu h4:hover,
.statusMenu button:hover {
    color: var(--hover-color);
    transition: all 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# Avatar Image on video OFF
--------------------------------------------------------------*/

.videoAvatarImage {
    z-index: 8;
    position: absolute;
    /*center*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/*--------------------------------------------------------------
# Left buttons
--------------------------------------------------------------*/

#buttonsBar {
    z-index: 12;
    display: none;
    position: absolute;
    padding: 15px;

    top: var(--btns-top);
    right: var(--btns-right);
    left: var(--btns-left);
    margin-left: var(--btns-margin-left);
    width: var(--btns-width);
    flex-direction: var(--btns-flex-direction);

    justify-content: space-around;
    grid-gap: 0.4rem;

    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

    border-radius: 20px;
    background: transparent;
    box-shadow: var(--box-shadow);

    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    overflow: hidden;
}

#buttonsBar button {
    border: none;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    background: var(--btn-bg);
    padding: 4px;
    border-radius: 5px;
    opacity: var(--btn-opc);
}

#buttonsBar button:focus {
    outline: none;
}

#initAudioBtn,
#initVideoBtn {
    border: none;
    border-radius: 5px;
    width: 40px;
    background: white;
    color: black;
    font-size: 1.5rem;
    padding: 4px;
    transition: all 0.3s ease-in-out;
}

#audioBtn,
#videoBtn,
#screenShareBtn,
#fullScreenBtn,
#chatRoomBtn,
#myHandBtn,
#leaveRoomBtn {
    color: var(--btn-color);
}

#initAudioBtn:hover,
#initVideoBtn:hover,
#audioBtn:hover,
#videoBtn:hover,
#screenShareBtn:hover,
#fullScreenBtn:hover,
#chatRoomBtn:hover,
#myHandBtn:hover,
#aboutBtn:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
}
#leaveRoomBtn:hover {
    color: red;
    transform: var(--btns-hover-scale);
}

.fa-microphone-slash,
.fa-video-slash {
    color: #e74c3c !important;
}

/*--------------------------------------------------------------
# Chat room aka msger
--------------------------------------------------------------*/

.msger-draggable {
    z-index: 10;
    display: none;
    position: fixed;
    /* center screen */
    top: var(--msger-top);
    left: var(--msger-left);
    transform: translate(-50%, -50%);
    /* end center screen  */
    height: var(--msger-height);
    width: var(--msger-width);
    background: var(--msger-bg);
    /* text-align: justify; */
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    top: var(--msger-top);
    left: var(--msger-left);
    height: var(--msger-height);
    width: var(--msger-width);
    background: var(--msger-bg);
}

/*--------------------------------------------------------------
# Chat room header
--------------------------------------------------------------*/

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(0, 0, 0);
    color: #666;
    cursor: move;
}
.msger-header-options button {
    border: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 5px;
    transition: background 0.23s;
}
.msger-header-options button:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# Chat room output area
--------------------------------------------------------------*/

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background: var(--msger-bg);
}
.msger-chat::-webkit-scrollbar {
    width: 5px;
}
.msger-chat::-webkit-scrollbar-track {
    background: transparent;
}
.msger-chat::-webkit-scrollbar-thumb {
    background: black; /*aqua;*/
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

/* left side */

.left-msg .msg-bubble {
    background: var(--left-msg-bg);
    border-bottom-left-radius: 0;
    color: #fff;
}

.left-msg .private-msg-bubble {
    background: var(--private-msg-bg);
    border-bottom-left-radius: 0;
    color: #fff;
}

/* right side */

.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    border-bottom-right-radius: 0;
    color: #fff;
}
.right-msg .private-msg-bubble {
    background: var(--private-msg-bg);
    border-bottom-right-radius: 0;
    color: #fff;
}
.right-msg .msg-img {
    margin: 0 0 0 10px;
}

/* common */

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border-radius: 50%; */
}

.msg-bubble {
    max-width: 200px;
    padding: 15px;
    border-radius: 15px;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.msg-text {
    /* https://css-tricks.com/almanac/properties/o/overflow-wrap/ */
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

#chat-msg-a {
    color: white;
}

button:hover {
    color: rgb(0, 180, 50);
    transform: var(--btns-hover-scale);
}

/*--------------------------------------------------------------
# Chat room input area
--------------------------------------------------------------*/

.msger-inputarea {
    display: flex;
    padding: 10px;
    background: var(--msger-bg);
}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    color: white;
}

.msger-input {
    flex: 1;
    background: rgb(0, 0, 0);
}

#msgerSendBtn {
    background: rgb(0, 0, 0);
    color: #fff;
    transition: background 0.23s;
}
#msgerSendBtn:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}


/*--------------------------------------------------------------
# Video Grid
--------------------------------------------------------------*/

#myVideo.mirror {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

video {
    width: 100%;
    height: 100%;
    object-fit: var(--video-object-fit);
    cursor: pointer;
}
video:fullscreen {
    object-fit: contain; /* cover; */
    border: var(--elem-border-color);
}
.video {
    float: left;
    width: 25vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
}
.video.one {
    width: 100vw;
    height: 100vh;
}
.video.two {
    width: 49.6vw;
    height: 99vh;
    --video-object-fit: cover;
    border: var(--elem-border-color);
    /* --video-object-fit: contain; */
}
.video.three {
    /* width: 33vw;
  height: 99vh; */
    width: 49.6vw;
    --video-object-fit: cover;
    border: var(--elem-border-color);
}
.video.four {
    width: 49.6vw;
    height: 49vh;
    --video-object-fit: cover;
    border: var(--elem-border-color);
}
.video.five {
    width: 33vw;
    height: 49vh;
    --video-object-fit: cover;
    border: var(--elem-border-color);
}
.video.six {
    width: 33vw;
    height: 49vh;
    --video-object-fit: cover;
    border: var(--elem-border-color);
}

/*--------------------------------------------------------------
# Pulse class effect
--------------------------------------------------------------*/

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/

#webRTCSeo {
    /* just for SEO */
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

